= title "All Sources"

%h1 Sources
%table
	%thead
		%tr
			%th Name
			%th Bio
			%th Quotes
	%tbody
		- @sources.each do |source|
			%tr
				%td= link_to source.full_name, source
				%td= source.bio
				%td= source.quotes.count