= title "All Categories"
%h1 Categories

%table
	%thead
		%tr
			%th Name
			%th Quotes
	%tbody
		- @categories.each do |cat|
			%tr
				%td= cat.name
				%td= link_to cat.quotes.count, category_quotes_path(cat)